<style type="text/css">
body {
  margin: 40px;
}

.onebox {
	width: 100%;
}
.subgrid1 {
 	display: grid;
	 grid-template-columns: auto auto auto auto auto;
	 /* grid-template-columns: repeat(3
		minmax(200px, 1fr)); */
 	/* grid-template-columns: repeat(auto-fit
		minmax(300px, 1fr)); */
	/* grid-template-columns: 300px 300px 300px;	
	grid-template-rows: 300px 300px 300px; */
	grid-gap: 1px;
	background-color: rgb(245, 236, 236);
	color: #444;
}
.goalmet {
	color:green;
}
.goalnotmet {
	color:red;
}
.wrapper {
 	display: grid;
	 grid-template-columns: auto auto auto;
	 /* grid-template-columns: repeat(3
		minmax(200px, 1fr)); */
 	/* grid-template-columns: repeat(auto-fit
		minmax(300px, 1fr)); */
	/* grid-template-columns: 300px 300px 300px;	
	grid-template-rows: 300px 300px 300px; */
	grid-gap: 10px;
	background-color: rgb(128, 38, 38);
	color: #444;
}

.box {
  background-color: rgb(27, 58, 126);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  /* font-size: 150%; */
}

	.a {
		grid-column: 1 ;

	}

	.b {
		grid-column: 2;
		grid-row: 1 / span 1;
	}

	.c {
		grid-column: 3;
		grid-row: 1 / span 1;
	}

	.d {
		grid-column: 1;
		grid-row: 2 / span 1;
	}
	div.row {
	  border: 1px solid;
	}

  </style>
<script>
	// Set the date we're counting down to
	<repeat group="{{ @dashevents }}" value="{{ @dashevent }}">

		var avar{{@dashevent.eventname}} = new Date( "{{ @dashevent.eventdate }} {{ @dashevent.starttime }}").getTime()
		</repeat>

	// Update the count down every 1 second
	var x = setInterval(function () {

		// Get todays date and time
		var now = new Date().getTime();

		// Find the distance between now an the count down date
		<repeat group="{{ @dashevents }}" value="{{ @dashevent }}">

			var dist{{@dashevent.eventname}} = avar{{@dashevent.eventname}} - now;

			// var distance = countDownDate - now;

			// Time calculations for days, hours, minutes and seconds
				var days{{@dashevent.eventname}} = Math.floor(dist{{@dashevent.eventname}} / (1000 * 60 * 60 * 24));
				var hours{{@dashevent.eventname}} = Math.floor((dist{{@dashevent.eventname}} % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes{{@dashevent.eventname}} = Math.floor((dist{{@dashevent.eventname}} % (1000 * 60 * 60)) / (1000 * 60));
				var seconds{{@dashevent.eventname}} = Math.floor((dist{{@dashevent.eventname}} % (1000 * 60)) / 1000);
				document.getElementById("elem{{@dashevent.eventname}}").innerHTML = days{{@dashevent.eventname}}
				+ "d " + hours{{@dashevent.eventname}} + "h "
			+ minutes{{@dashevent.eventname}} + "m " + seconds{{@dashevent.eventname}} + "s ";

		// If the count down is over, write some text
		if (dist{{@dashevent.eventname}} < 0) {
				clearInterval(x);
			document.getElementById("elem{{@dashevent.eventname}}").innerHTML = "EXPIRED";
		}
	</repeat>


		// Output the result in an element with id="demo"
	}, 1000);
</script>


<div class="wrapper">
	<div class="box a">
		<a href="/workshift">Schedule</a>
		<include href="dashboard/dispworksched.htm" />
	</div>
	<div class="box b">
		<include href="dashboard/dispevent.htm" />
	</div>
	<div class="box c">
		Notes
		<include href="bcnote/dashlist.htm"/>			
	</div>

	<div class="box d">
		Goals
		<include href="bcgoal/list.htm"/>
	</div>
	<div class="box">
		Jokes
	</div>
	<div class="box">
		<a href="https://www.accuweather.com/en/us/denver-co/80203/weather-forecast/347810" class="aw-widget-legal">
			<!--
	            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
	            -->
		</a>
		<div id="awcc1523016745881" class="aw-widget-current" data-locationkey="" data-unit="f" data-language="en-us" data-useip="true"
		 data-uid="awcc1523016745881"></div>
		<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script> 
	</div>
	

	<div class="box">
		86'd items
	</div>
	<div class="box">
		86'd people
	</div>
	<div class="box">
		Trades
	</div>
	
	
</div>