<script>
		// Set the date we're counting down to
		var countDownDate = new Date( "{{ @dashevents[0].eventdate }} {{@dashevents[0].starttime }}").getTime()
		//var countDownDate = new Date("May 5, 2018 16:03:25").getTime();
		
		// Update the count down every 1 second
		var x = setInterval(function() {
		
			// Get todays date and time
			var now = new Date().getTime();
			
			// Find the distance between now an the count down date
			var distance = countDownDate - now;
			
			// Time calculations for days, hours, minutes and seconds
			var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			
			// Output the result in an element with id="demo"
			document.getElementById("demo").innerHTML = days + "d " + hours + "h "
			+ minutes + "m " + seconds + "s ";
			
			// If the count down is over, write some text 
			if (distance < 0) {
				clearInterval(x);
				document.getElementById("demo").innerHTML = "EXPIRED";
			}
		}, 1000);
		</script>
		

<div class="container">
    <h2>Bar Car Dashboard</h2>           
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><a href="/date">Schedule</a></td>
		  <td>Events: <p> </p>

			<repeat group="{{ @dashevents }}" value="{{ @item }}">
				<p>{{ @item.eventname }}, <h4 id="demo"></h4></p>

			</repeat>
		</td>
          <td>notes</td>
        </tr>
        <tr>
		  <td>Goals

		  </td>
          <td>Joke:</td>
          <td><a href="https://www.accuweather.com/en/us/denver-co/80203/weather-forecast/347810" class="aw-widget-legal">
            <!--
            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
            -->
            </a><div id="awcc1523016745881" class="aw-widget-current"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awcc1523016745881"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
          </td>
        </tr>
        <tr>
          <td>86'd items</td>
          <td>86'd peeps</td>
          <td>trades</td>
        </tr>
      </tbody>
    </table>
  </div>