<script>
	// Set the date we're counting down to
	<repeat group="{{ @dashevents }}" value="{{ @dashevent }}">

		var avar{{@dashevent.eventname}} = new Date( "{{ @dashevent.eventdate }} {{ @dashevent.starttime }}").getTime()
		</repeat>

	// Update the count down every 1 second
	var x = setInterval(function () {

		// Get todays date and time
		var now = new Date().getTime();

		// Find the distance between now an the count down date
		<repeat group="{{ @dashevents }}" value="{{ @dashevent }}">

			var dist{{@dashevent.eventname}} = avar{{@dashevent.eventname}} - now;

			// var distance = countDownDate - now;

			// Time calculations for days, hours, minutes and seconds
				var days{{@dashevent.eventname}} = Math.floor(dist{{@dashevent.eventname}} / (1000 * 60 * 60 * 24));
				var hours{{@dashevent.eventname}} = Math.floor((dist{{@dashevent.eventname}} % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes{{@dashevent.eventname}} = Math.floor((dist{{@dashevent.eventname}} % (1000 * 60 * 60)) / (1000 * 60));
				var seconds{{@dashevent.eventname}} = Math.floor((dist{{@dashevent.eventname}} % (1000 * 60)) / 1000);
				document.getElementById("elem{{@dashevent.eventname}}").innerHTML = days{{@dashevent.eventname}}
				+ "d " + hours{{@dashevent.eventname}} + "h "
			+ minutes{{@dashevent.eventname}} + "m " + seconds{{@dashevent.eventname}} + "s ";

		// If the count down is over, write some text
		if (dist{{@dashevent.eventname}} < 0) {
				clearInterval(x);
			document.getElementById("elem{{@dashevent.eventname}}").innerHTML = "EXPIRED";
		}
	</repeat>


		// Output the result in an element with id="demo"
	}, 1000);
</script>


<div class="container-fluid">
	<div class="row">
		<div class="col-3 col-lg-4 col-sm-12">
			<a href="/workshift">Schedule</a>
			<include href="dashboard/dispworksched.htm" />
		</div>
		<div class="col-3 col-lg-4">
			<include href="dashboard/dispevent.htm" />
		</div>
		<div class="col-3 col-lg-4">
			Notes
		</div>
	</div>
	<div class="row">
		<div class="col-3 col-lg-3">
			Goals
		</div>
		<div class="col-3 col-lg-3">
			Jokes
		</div>
		<div class="col-3 col-lg-3">
			<a href="https://www.accuweather.com/en/us/denver-co/80203/weather-forecast/347810" class="aw-widget-legal">
				<!--
		            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
		            -->
			</a>
			<div id="awcc1523016745881" class="aw-widget-current" data-locationkey="" data-unit="f" data-language="en-us" data-useip="true"
			 data-uid="awcc1523016745881"></div>
			<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script> </div>
	
	</div>
	<div class="row">
		<div class="col-3 col-lg-3">
			86'd items
		</div>
		<div class="col-3 col-lg-3">
			86'd people
		</div>
		<div class="col-3 col-lg-3">
			Trades
		</div>
	
	</div>
	
</div>