<form action="{{ @BASE.'/bcnote/update' }}" method="post" class="form-horizontal">

    <div class="input-prepend">
        <span class="add-on"><i class="icon-user icon-black"></i> Date</span>
        <input type="text" id="datenote" name="datenote" value="{{ @POST.datenote }}" class="input-xlarge" />
    </div><br/><br/>

    <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope icon-black"></i> Note</span>
        <input type="text" id="textnote" name="textnote" value="{{ @POST.textnote }}" class="input-xlarge" />
    </div>
    <br/><br/>



    <div class="control-group">
        <div class="">
            <input type="hidden" name="id" value="{{ @POST.id }}" />
            <input type="hidden" name="update" value="update" />
            <button type="submit" class="btn btn-primary"><i class="icon-edit icon-white"></i> Update</button>
        </div>
    </div>

</form>