<table width="600" cellpadding="5" class="table table-hover table-bordered">
	<thead>
		<tr>
			<th scope="col">Event name</th>
			<th scope="col">Date</th>
			<th scope="col">Start</th>
			<th scope="col">Duration</th>
			<th scope="col">Display</th>

		</tr>
	</thead>

	<tbody>
		<repeat group="{{ @events }}" value="{{ @event }}">
			<tr>
				<td>{{ trim(@event.eventname) }}</td>
				<td>{{ trim(@event.eventdate) }}</td>
				<td>{{ trim(@event.starttime) }}</td>
				<td>{{ trim(@event.duration) }}</td>
				<td>{{ trim(@event.dashdisplay) }}</td>
				<td>
					<a href="{{ @BASE.'/event/update/'. @event.id }}" class="btn btn-primary">
						<i class="icon-edit icon-white"></i> Edit</a>
					&nbsp;
					<a href="{{ @BASE.'/event/delete/'. @event.id }}" class="btn btn-danger">
						<i class="icon-remove icon-white"></i>
						Delete</a>
				</td>

			</tr>
		</repeat>
	</tbody>

</table>