<div class="subgrid1">
		<div class="box">
				<p>Day</p>
		</div>
		<div class="box">
				<p>Goal</p>
		</div>
		<div class="box">
			<p>Actual</p>
		</div>
		<div class="box">
				<p>Closing</p>
			</div>	


	<repeat group="{{ @bcgoal2 }}" value="{{ @bcgoal }}">
		<div>
			<p>{{ trim(@bcgoal.dow) }}</p>
		</div>
		<div>
			<p>{{ trim(@bcgoal.goalamount) }}</p>
		</div>
		<div>
			<check if="{{ @bcgoal.NetSales > @bcgoal.goalamount }}">
				<true>
						<p class="goalmet">{{ trim(@bcgoal.NetSales) }}</p>
				</true>
				<false>
						<p class="goalnotmet">{{ trim(@bcgoal.NetSales) }}</p>
				</false>
				</check>
		</div>
		<div>
			<p>{{ trim(@bcgoal.ClosingBarTender) }}</p>
		</div>
	
	</repeat>

</div>
