<form action="{{ @BASE.'/user/create' }}" method="post" class="form-horizontal">

	<div class="form-group">
		<label class="control-label col-sm-2" for="name">Name</label>
		<div class="col-sm-10">
			<input type="text" id="name" name="name" value="" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="email">email</label>
		<div class="col-sm-10">
			<input type="text" id="email" name="email" value="{{ @POST.email }}" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="mobile">mobile</label>
		<div class="col-sm-10">
			<input type="text" id="mobile" name="mobile" value="{{ @POST.mobile }}" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="address">address</label>
		<div class="col-sm-10">
			<input type="text" id="address" name="address" value="{{ @POST.address }}" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="dispcolor">Display color</label>
		<div class="col-sm-10">
			<select class="form-control" value="{{ @POST.dispcolor }}" name="dispcolor" id="dispcolor">
				<repeat group="{{@dcolors}}" value="{{@row}}">
					<check if="{{@row==@POST.dispcolor}}">
						<true>
							<option value="{{@row}}" selected>{{@row}}</option>
						</true>
						<false>
							<option value="{{@row}}">{{@row}}</option>
						</false>
					</check>
				</repeat>
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="">
			<input type="hidden" name="create" value="create" />
			<button type="submit" class="btn btn-primary">
				<i class="icon-ok icon-white"></i> Add User</button>
		</div>
	</div>

</form>