<div class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-inner">

		<ul class="nav">
			<h4>{{@page_head}}X</h4>
			<check if="{{ @page_head == 'Date List' }}">

            <li> 
					<a href="{{ @BASE.'/date/create' }}">
						<i class="active icon-plus-sign icon-black"></i> Create</a>
			</li>
			</check>
			<check if="{{ @page_head == 'Create Date' }}">active

			</check>
            <check if="{{ @page_head == 'Update date' }}">
            <li class="active"><a href="javascript:void(0);">
				<i class="icon-plus-sign icon-black"></i> Update</a>
            </li>
            </check>
        </ul>
    </div>
</div>
